@import "../../scss/variables.scss";
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

.navbar {
  @extend .container;
  display: flex;
  margin: 0 auto;
  max-width: 1440px;
  justify-content: center;
  padding: 0 !important;

  background-color: $darkColor;
  &_nav {
    display: flex;
    width: 100%;
    justify-content: center;

    a {
      color: white;
      margin: 0 1em;
      cursor: pointer;
      transition: all 300ms;
      border-bottom: 2px solid $mainColor;
      &:hover {
        color: $secondColor;
        border-bottom: 2px solid $secondColor;
      }
    }
  }
}
