@import "./variables.scss";

.home {
  @extend .container, .mt-3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &_welcome {
    @extend .row;
    margin: 3em 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
    &_text {
      @extend .col-sm-12, .col-md-6;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto 0;
    }
  }
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.iot {
  &_form {
    margin-top: 2em;
    @extend .container;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &_title {
      color: $secondColor;
    }
    &_field {
      margin: 0.3em 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 500px;
      color: $darkColor;
      text-align: center;
      label {
        margin: 0;
        font-size: 1.2em;
      }
      div {
        display: flex;
        justify-content: center;
        input {
          text-align: center;
          outline: none;
          border: 2px solid $darkBlueColor;
          border-right: none;
          &:focus {
            outline: none;
            border: 2px solid $secondColor;
            border-right: none;
          }
        }
        button {
          text-align: center;
          outline: none;
          background-color: white;
          color: $secondColor;
          border: 2px solid $darkBlueColor;
          &:hover {
            background-color: $secondColor;
            color: white;
          }
        }
      }
    }
    .buttons {
      width: 100%;
      max-width: 300px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 1em;
      a {
        @extend .rounded;
        padding: 0.1em;
        margin: 0;
        text-decoration: none;
        border: 2px solid $darkBlueColor;
        color: $darkBlueColor;
        letter-spacing: 0.1em;
        &:hover {
          background-color: $darkBlueColor;
          color: white;
        }
      }
    }
  }
}
.identify {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  div {
    button {
      text-align: center;
      outline: none;
      background-color: white;
      color: $secondColor;
      border: 2px solid $darkBlueColor;
      &:hover {
        background-color: $secondColor;
        color: white;
      }
    }
  }
}
.notfound {
  background-color: $darkColor;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  &_display {
    margin: auto;
    color: $darkBlueColor;
    a {
      text-decoration: none;
      color: $mainColor;
      font-size: 2em;
      &:hover {
        color: $secondColor;
        text-decoration: underline;
      }
    }
  }
}

.control {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &_data {
    div {
      margin: 0 5px;
      margin-top: 10px;
    }
    display: flex;

    justify-content: flex-start;
    font-size: 0.8em;
    .measure {
      @extend .rounded;
      padding: 0.1em 0.3em;
      border: 2px solid $darkColor;
    }
  }
  &_manual {
    @extend .d-sm-block, .d-md-flex;
    align-items: center;
    div {
      padding: 0 0.3em;
      display: flex;
      align-items: center;
    }
  }
}
